<!DOCTYPE html>
<html>
<head>
  <title>Zafarya</title>
 
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
   <!-- Bootstrap core CSS -->

    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <%= stylesheet_link_tag "style.css" %>
    <%= stylesheet_link_tag "timepicker.css" %>
    <link type="text/css" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="../../vendor/assets/stylesheets/timepicker.css">
    
     <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
    <%= render 'shared/navbar' %>
    
    <%= flash_messages %>
      
<%= yield %>
</div>




</body>
</html>
