<div class="col-md-12">
            
   
   
   <!-- Move to external CSS-->            
      <style>
      #map {
      width: 100%;
      height: 400px;
      }
      </style>
      
              
      <script>
        function initMap() {
          
          var mapDiv = document.getElementById('widget');
          var map = new google.maps.Map(mapDiv, {
            <% if @arrAdventures.length > 0 %>
              center: {lat: <%= @arrAdventures[0].latitude %>, lng: <%= @arrAdventures[0].longitude %>},
              zoom: 11
            <% else %>
              center: {lat: 56.6634, lng: 16.3568},
              zoom: 6
            <% end %>
            
          });
          <% if @arrAdventures.length > 0 %>
            <% @arrAdventures.each do |adventure|%>
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(<%= adventure.latitude %>, <%= adventure.longitude %>),
                    title: '<%= adventure.activity_name%>'
                });
                marker.setMap(map);
              
            <%end %>
          <%end %>
          
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
          async defer></script>
  
</div>

	