<div class="row">
    <div class="col-md-3">
        <ul class="sidebar-list">
             <li class="sidebar-item"> <%= link_to "Your Listing", adventures_path,class: "sidebar-link active" %> </li>
            <li class="sidebar-item"> <%= link_to "Your Reservation", your_reservations_path, class: "sidebar-link" %></li>
            <li class="sidebar-item"> <%= link_to "Your Adventures", your_adventures_path, class: "sidebar-link" %></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Adventures
            </div>
            <div class="panel-body">
                
                <% @adventures.each do |adventure| %>
                <div class="row">
                    <div class="md-2">
                      <%= image_tag adventure.photos[0].image.url(:thumb) if adventure.photos.length >0%>      
                    </div>
                    <div class="col-md-7">
                        <h4><%= adventure.activity_name %> <span class="right"><%= adventure.adress %></span></h4>
                    
                        
                    </div>
                    <div class="col-md-3 right">
                        <%= link_to "Update",edit_adventure_path(adventure), class:"btn btn-primary" %>
                    </div>
                </div>  
                <% end %>
            </div>
        </div>
    </div>
</div>